<div class="main-container">
  <div *ngIf="isLoading" class="spiner">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="merchant-container">
    <div class="header">
      <div class="input-containers">
        <div class="search-inputs">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div style="display: flex">
                <img
                  class="dropdown-image"
                  src="../../assets/dropdown.svg"
                  alt=""
                />
              </div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div
                (click)="searchMode = item"
                class="dropdown-item"
                *ngFor="let item of searchModes"
              >
                {{ item }}
              </div>
            </div>
          </div>
          <input #query [placeholder]="searchMode" type="text" />
        </div>
        <!-- <div class="search-inputs">
          <input placeholder="From" type="text" />
        </div>
        <div class="search-inputs">
          <input placeholder="To" type="text" />
        </div> -->
      </div>
      <button (click)="filter(query.value)">Search</button>
    </div>

    <div class="transactions-table">
      <div class="transactions-heading transaction">
        <div>
          <h4>Store Name</h4>
        </div>
        <div>
          <h4>Name</h4>
        </div>
        <div>
          <h4>Email</h4>
        </div>
        <div>
          <h4>Phone Number</h4>
        </div>
        <div class="status-heading">
          <h4>Status</h4>
        </div>
      </div>
      <div
        class="transaction"
        *ngFor="let item of merchants; let index = index"
        [class]="{ odd: index % 2 != 0 }"
      >
        <div (click)="openMerchantProfile(item)">
          <h4 style="color: #0779e4">{{ item.accountname }}</h4>
        </div>
        <div (click)="openMerchantProfile(item)">
          <h4>{{ item.ownername }}</h4>
          <h6></h6>
        </div>
        <div (click)="openMerchantProfile(item)">
          <h4>{{ item.email }}</h4>
        </div>
        <div (click)="openMerchantProfile(item)">
          <h4>+{{ item.number }}</h4>
        </div>
        <div>
          <div
            (click)="updateStatus('active', item); item.status = 'active'"
            [class]="{ active: item.status == 'active', status: true }"
          >
            <h4>{{ item.status == "active" ? "Active" : "Make Active" }}</h4>
          </div>
          <div
            (click)="updateStatus('pending', item); item.status = 'pending'"
            [class]="{ inActive: item.status == 'pending', status: true }"
          >
            <h4>
              {{ item.status == "pending" ? "InActive" : "Make Inactive" }}
            </h4>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <h6>
            {{ pageStatus }}
          </h6>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li
              (click)="nav(false)"
              class="page-item"
              *ngIf="merchants[0].index != 1"
            >
              <a
                class="page-link"
                style="cursor: pointer"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li
              (click)="nav()"
              class="page-item"
              *ngIf="
                merchants[merchants.length - 1].index !=
                merchantService.allMerchants.length
              "
            >
              <a class="page-link" style="cursor: pointer" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
